.modal {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-modal {
  display: block;
  text-align: center;

  margin: 13% auto;
  padding: 20px 35px;

  border-radius: 10px;

  width: 45%;
  height: auto;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #b3aae2;
}

.modal h1 {
  color: #232a3d;
  font-family: "Parkinsans", sans-serif;
}

input#nome-char {
  border: none;
  border-radius: 10px;

  width: 60%;
  height: 30px;

  margin-top: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  text-align: center;
}

input#nome-char::placeholder {
  text-align: center;
}

button#criar-char {
  color: #fff;
  background-color: #121824;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  border: none;
  border-radius: 15px;
  margin-left: 20px;

  width: 50px;
  height: 35px;
}

button#criar-char:hover {
  cursor: pointer;
  background-color: #232a3d;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.personagens-content {
  margin: 5% 0;
}

.personagens {
  display: flex;
  gap: 6%;
}

.personagens img {
  max-width: 50%;
  max-height: 50%;
}

.personagens button {
  border: none;
  border-radius: 50px;
  background-color: transparent;

  width: 50%;
  height: auto;
}

.personagens button:active {
  background-color: rgb(18, 34, 26, 0.3);
}

.personagens button:hover {
  cursor: pointer;
  border-color: #232a3d;
  transform: scale(1.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
