.modal-morte {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-morte div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 3% 0;
  height: 20%;

  animation: morte 2s ease 0s 1 normal backwards;
}

button#novo-char {
  color: #fff;
  background-color: #121824;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  border: none;
  border-radius: 15px;

  width: 200px;
  height: 50px;
}

button#novo-char:hover {
  cursor: pointer;
  background-color: #232a3d;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes morte {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
