* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Parkinsans", sans-serif;
}

body {
  background-color: #121824;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

container {
  text-align: center;
}

container .tamagotchi {
  color: #fff;
  background-color: #b3aae2;
  border-radius: 25px;
  min-height: 64vh;
  min-width: 51vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

div .moldura {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span#tamagotchiNome {
  text-transform: uppercase;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #232a3d;
}

.status {
  display: flex;
  justify-content: center;
  gap: 13%;
  padding: 0 20px;
}
.icons progress {
  display: flex;
}

progress {
  width: 60px;
  height: 20px;
}

.tamagotchi .buttons {
  border: none;
  font-size: 40px;
}

.buttons button {
  border: none;
  background-color: transparent;
  border-radius: 25%;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttons button:hover {
  cursor: pointer;
  color: #121620;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 75%;
  width: 100%;

  position: absolute;

  bottom: 10px;
  margin: 0px 20px;
  color: #fff;
}
footer button {
  color: #232a3d;
  background-color: #b3aae2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  border: none;
  border-radius: 15px;
  margin-left: 20px;

  width: 50px;
  height: 35px;
}

footer button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #232a3d;
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
